 .gif {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 25px;
  /*background-color: #fdcc52;*/
 }

 .original {
  background-color: grey;
 }

  .play {
  background-color: green;
 }

  .stop {
  background-color: red;
 }